{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="/static/css/accidents.css" id="pagesheet"/>

{% endblock %}

{% block content %}
  <div class="clearfix" id="page"><!-- column -->
       <div class="position_content" id="page_position_content">
            <a href="/index" class="clip_frame colelem" id="u1563"><!-- image -->
                 <img class="block" id="u1563_img" src="static/images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202015-12-03%2013103628x22.jpg" data-hidpi-src="images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202015-12-03%2013103628x22_2x.jpg" alt="" width="27" height="21"/>
            </a>
       </div>

       <div class="show" id='topic'>
           <div class="clearfix colelem" id="title"><!-- content -->
               <p>Accidents</p>
           </div>
           
           <div class="clearfix colelem" id="subtitle"><!-- content -->
                <p>As if I were waken up from a short&#45;term memory loss.</p>
           </div>
       </div>

       <!--     <div class="clearfix colelem" id="u312-4">
            <p>Accidents</p>
           </div>
           <div class="clearfix colelem" id="u313-4">
            <p>As if I were waken up from a short&#45;term memory loss.</p>
           </div>
           <div class="clearfix colelem" id="u314-3">
            <p>&nbsp;</p>
           </div> -->

       <div class="clearfix colelem" id="u311-16"><!-- content -->
           <div class="show" id ='intro' >  
                <p>This work comprise a set of night&#45;related photos. Something trivial and common turns into other appearances as a result of intermingling with time just like camera effects change as time goes by. For me, dark hours represent special occasions.</p>
                <p>&nbsp;</p>
                <p>As if I were waken up from a short&#45;term memory loss, at that time I was seriously aware of the “accident”, better and more clearly than any time. The elapse in the past, the coming in the future, and the present at right now interweave together then insensibly turn into the space of memory and imagination.</p>
                <p>&nbsp;</p>
                <p>From past to present till future, time runs through all along.</p>
                <p>&nbsp;</p>
                <p>In the hour of past, present and future, accidents exist all the time.</p>
                <p>&nbsp;</p>
                <p>still in progress....</p>
            </div>

            <div class="clearfix colelem img-next hide" id="pu1337-4"><!-- column -->
              <div class="clearfix colelem" id="u1337-4"><!-- content -->
                 <p>Accidents &nbsp; Coming soon......</p>
               </div>
            </div>

            <div id='image-container'>
                {% for image in smlImage %}
                    <div class="clearfix colelem img-next hide">
                        <a>Previous</a> / <a>Next Image</a> <span name='img-index'>&nbsp; ( {{loop.index}} of {{smlImage | length }})</span></p>
                    </div>
                    <img class = 'hide' src='/static/images/accident/{{image}}'> </img>
                {% endfor %}
              
            </div>
       </div>

         <div class="show" id="next"><!-- content -->
             <p class="clearfix colelem next" >&gt; NEXT</p>
             <!-- <p class="clearfix colelem img-next" >Previous / Next image&nbsp; (1 of 20)</p> -->
        </div>
       
        <div class="verticalspacer"></div>
  </div>
  <script src="static/js/slides.js"></script>

{% endblock %}
