{% extends 'base.html' %}
{% block header %}
<link rel="stylesheet" type="text/css" href="static/css/index.css" id="pagesheet"/>
{% endblock %}

{% block content %}

   <div id="page"><!-- column -->
       <div class="clearfix colelem title"><!-- content -->
            <h1>WORKS</h1>
       </div>

       <div class="clearfix colelem projects"><!-- content -->
            <a href="mythomania">Mythomania</a>
       </div>

       <div class="clearfix colelem projects"><!-- content -->
            <a href="accidents">Accidents</a>
       </div>

       <div class="clearfix colelem projects"><!-- content -->
            <a href="jasmine">Jasmine#</a>
       </div>

       <div class="clearfix colelem" id="pu140-4"><!-- group -->
          <div class="clearfix grpelem" id="u140-4"><!-- content -->
              <a href="L2">L2</a><p style=" display: inline;">|</p><a href="ego">EGO</a>

          </div>

     <!--      <div class="clearfix grpelem" id="u211-4">
              <p>|</p>
          </div>

          <div class="clearfix grpelem" id="u141-4">
              <a href="ego">EGO</a>
          </div> -->
       </div>

       <div class="clearfix colelem" id="u142-4"><!-- content -->
          <a href="aboutMe">ABOUT</a>
       </div>

       <div class="clip_frame colelem" id="u1327"><!-- image -->
          <img class="block" id="u1327_img" src="static/images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202015-12-03%20131036_2x.jpg" data-hidpi-src="static/images/%e5%b1%8f%e5%b9%95%e5%bf%ab%e7%85%a7%202015-12-03%20131036_2x.jpg" alt="" width="71" height="54"/>
       </div>
       <div class="verticalspacer"></div>
  </div>
{% endblock %}
