.version.about /* version checker */
{
	color: #000019;
	background-color: #3869BB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 423px;
	padding-bottom: 77px;
	margin-left: auto;
	margin-right: auto;
}

#u1431
{
	z-index: 30;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#u2685
{
	z-index: 32;
	width: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 152px;
}

#u267-28
{
	z-index: 2;
	width: 572px;
	min-height: 318px;
	line-height: 18px;
	font-size: 15px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 399px;
}

#u267-2
{
	color: #FF0000;
}

#u267-7,#u267-14
{
	text-align: justify;
	color: #FF0000;
}

#u267-5,#u267-9,#u267-11,#u267-12,#u267-16,#u267-18
{
	text-align: justify;
	color: #7F7F7F;
}

#u267-21,#u267-23
{
	letter-spacing: 1px;
	color: #7F7F7F;
}

#u267-4,#u267-19,#u267-24,#u267-26
{
	color: #7F7F7F;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

