.version.aworks /* version checker */
{
	color: #00000D;
	background-color: #1116A6;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 283px;
	padding-bottom: 217px;
	margin-left: auto;
	margin-right: auto;
}

#u1557
{
	z-index: 13;
	width: 27px;
	position: relative;
	margin-right: -10000px;
}

#pu1337-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 212px;
	margin-left: 416px;
}

#u1337-4
{
	z-index: 6;
	width: 64px;
	min-height: 21px;
	line-height: 19px;
	color: #7F7F7F;
	font-size: 16px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: italic;
	position: relative;
}

#u1338-3
{
	z-index: 10;
	width: 5px;
	margin-left: 6px;
	margin-top: 33px;
	position: relative;
}

#u1336-4
{
	z-index: 2;
	width: 157px;
	min-height: 27px;
	line-height: 19px;
	font-size: 16px;
	color: #7F7F7F;
	letter-spacing: 1px;
	font-family: dosis, sans-serif;
	font-weight: 500;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 483px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

